.navigation {
  box-sizing: border-box;
  background-color: #FFFFFF;
  overflow: auto;
  padding: 0px 0px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
  /* text-decoration: inherit; */
}


.content_container {
  display: table;
  width: 100%;
}

.left-half {
  /* background-color: #ff9e2c; */
  position: absolute;
  left: 0px;
  width: 50%;
  /* margin-left: 100px;
  margin-top: 20px; */
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.right-half {
  /* background-color: #b6701e; */
  position: absolute;
  right: 0px;
  width: 50%;
}

.fa-github{
  padding: 0px 0px 0px 0px;
}

* {
  box-sizing: border-box;
}
body {
  font-size: 1.25rem;
  font-family: sans-serif;
  line-height: 150%;
  overflow: auto;
  /* text-shadow: 0 2px 2px #b6701e; */
}

section {
  /* color: #ff0000; */
  text-align: center;
}

div {
  height: 100%;
}

article {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
}


ul {
  padding: 0;
  margin: 0;
}

li {
  color: #FFFFFF;
  display: inline-block;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
  padding: 20px 20px 20px 20px;
  /* text-transform: uppercase; */
}

a {
  color: #000000;

}
