.navigation_home, .navigation_about, .navigation_post, .navigation_blog_post {
  box-sizing: border-box;
  background-color: #FFFFFF;
  overflow: auto;
  padding: 0px 0px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
  /* text-decoration: inherit; */
}


.home{
  height: auto;
  width: 1000px;
}

.content_container {
  display: table;
  padding: 10px 10px 10px 10px;
  /* height: 100px;
  width: 350px; */
}

.content_container_image{

}

.profile-photo {
  /* background-color: #ff9e2c; */
  position: absolute;
  left: 0px;
  /* width: 50%; */
  /* height: 25% */
  /* margin-left: 100px;
  margin-top: 20px; */
  /* -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)); */
}

.profile-text {
  /* background-color: #b6701e; */
  position: absolute;
  right: 0px;
  width: 50%;
}

.fa-github{
  padding: 0px 0px 0px 0px;
}

.aboutme_title{
  font-family: Marker Felt, fantasy;
  font-size: 72px;
  text-align: center;
}

.aboutme_container{
  text-align: left;
  padding: 0px 25px 5px 25px;
  text-justify: inter-word;
}

.aboutme_content{
  font-size: 16px;
  font-family: sans-serif;
}

.blog_title{
  font-family: Marker Felt, fantasy;
  text-align: center;
  font-size: 72px;
}

.blog_post_title{
  font-family: Marker Felt, fantasy;
  text-align: center;
  font-size: 36px;
}
.blog_post_subtitle{
  font-family: Marker Felt, fantasy;
  text-align: center;
  font-size: 18px;
}

.post_title{
  font-family: Marker Felt, fantasy;
  text-align: center;
  font-size: 48px;
}
.post_subtitle{
  font-family: Marker Felt, fantasy;
  text-align: center;
  font-size: 24px;
}

.post_meta{
  color: #d5d5d5;
  font-family: sans-serif;
  text-align: left;
  font-size: 12px;
}

.post_content{
  font-family: sans-serif;
  text-align: center;
  font-size: 16px;
}

.post_top_comments{
  font-family: sans-serif;
  text-align: left;
  font-size: 12px;
}

.post_section_title{
  text-align: left;
  font-weight: bold;
}

.leftcolumn {
  float: left;
  width: 100%;
  padding-left: 200px;
  padding-right: 200px;
}

.blog_img {
  background-color: #aaa;
  width: 100%;
  height:60%;
  /* padding: 20px; */
  /* float: center; */
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-top: 1px solid #f8f8f8;
  background: #f8f8f8;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  /* -webkit-transition: all 0.3s;
  transition: all 0.3s; */
  border-radius: 5px;
  border-width: 2px;
}

.card:hover{
  background: #d5d5d5;
  padding: 10px
}

.bg-post-image{
  padding: 0px;
  height: 100%;
  width: 100%;
}

.post_image_title{
  display: block;
  height: 300px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}


input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  font-family: sans-serif
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #808080;
}

/* Add a background color and some padding around the form */
.contact-form {
  border-radius: 25px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}
body {
  font-size: 1.25rem;
  font-family: sans-serif;
  line-height: 150%;
  overflow: auto;
  /* text-shadow: 0 2px 2px #b6701e; */
}

section {
  /* color: #ff0000; */
  text-align: center;
}

div {
  height: 100%;
}

article {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
}


ul {
  padding: 0;
  margin: 0;
}

li {
  color: #FFFFFF;
  display: inline-block;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
  padding: 20px 20px 20px 20px;
  /* text-transform: uppercase; */
}

.navigation_home a, .navigation_about a, .navigation_post a, .profile-text a, .leftcolumn a, .navigation_blog_post a {
  color: #000000;
}

.leftcolumn a{
  text-decoration:none;
}

form {
    display: block;
    margin-top: 0em;
}
