.navigation_home, .navigation_about {
  box-sizing: border-box;
  background-color: #FFFFFF;
  overflow: auto;
  padding: 0px 0px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
  /* text-decoration: inherit; */
}


.content_container {
  display: table;
  padding: 10px 10px 10px 10px
}

.left-half {
  /* background-color: #ff9e2c; */
  position: absolute;
  left: 0px;
  width: 50%;
  /* margin-left: 100px;
  margin-top: 20px; */
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.right-half {
  /* background-color: #b6701e; */
  position: absolute;
  right: 0px;
  width: 50%;
}

.fa-github{
  padding: 0px 0px 0px 0px;
}

.aboutme_title{
  font-family: Marker Felt, fantasy;
  font-size: 72px;
  text-align: center;
}

.aboutme_container{
  text-align: left;
  padding: 0px 25px 5px 25px;
  text-justify: inter-word;
}

.aboutme_content{
  font-size: 16px;
  font-family: sans-serif;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  font-family: sans-serif
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #808080;
}

/* Add a background color and some padding around the form */
.contact-form {
  border-radius: 25px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}
body {
  font-size: 1.25rem;
  font-family: sans-serif;
  line-height: 150%;
  overflow: auto;
  /* text-shadow: 0 2px 2px #b6701e; */
}

section {
  /* color: #ff0000; */
  text-align: center;
}

div {
  height: 100%;
}

article {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
}


ul {
  padding: 0;
  margin: 0;
}

li {
  color: #FFFFFF;
  display: inline-block;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
  padding: 20px 20px 20px 20px;
  /* text-transform: uppercase; */
}

a {
  color: #000000;
}

form {
    display: block;
    margin-top: 0em;
}
